---
import BaseHead from "../components/BaseHead.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import SideBar from "../components/SideBar.astro";
import { ViewTransitions } from "astro:transitions";

import { SITE_TITLE, SITE_DESCRIPTION, TRANSITION_API } from "../config";
import { themeChange } from "theme-change";

const {
  image,
  title = SITE_TITLE,
  description = SITE_DESCRIPTION,
  includeSidebar = true,
  sideBarActiveItemID,
  ogType,
} = Astro.props;

import { fade } from 'astro:transitions';
---

<!doctype html>
<html lang="en" data-theme="">
  <head>
    <script is:inline>
      // ☝️ This script prevent the FART effect.
      if (localStorage.getItem("theme") === null) {
        document.documentElement.setAttribute("data-theme", "light");
      } else
        document.documentElement.setAttribute(
            "data-theme",
            localStorage.getItem("theme")
        );
      // "theme" LocalStorage value is set by the package to remember user preference.
      // The value is checked and applied before rendering anything.
    </script>
    <script>
      import { themeChange } from 'theme-change';
      themeChange();
    </script>
    <BaseHead title={title} description={description} image={image} , ogType={ogType} />
    {TRANSITION_API && <ViewTransitions />}
  </head>
  <body>
    <div class="bg-base-100 drawer lg:drawer-open">
      <input id="my-drawer" type="checkbox" class="drawer-toggle" />
      <div class="drawer-content bg-base-100">
        <Header title={SITE_TITLE} />
        <div class="md:flex md:justify-center">
          <!--<ThemeSelector />-->
          <main class="p-6 pt-10 lg:max-w-[900px] max-w-[100vw]">
            <!--<div class="dropdown float-right">-->
            <!--  <div tabindex="0" role="button" class="btn m-1">-->
            <!--    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" style="fill: currentColor;transform: ;msFilter:;"><path d="M20 14c-.092.064-2 2.083-2 3.5 0 1.494.949 2.448 2 2.5.906.044 2-.891 2-2.5 0-1.5-1.908-3.436-2-3.5zM9.586 20c.378.378.88.586 1.414.586s1.036-.208 1.414-.586l7-7-.707-.707L11 4.586 8.707 2.293 7.293 3.707 9.586 6 4 11.586c-.378.378-.586.88-.586 1.414s.208 1.036.586 1.414L9.586 20zM11 7.414 16.586 13H5.414L11 7.414z"></path></svg>-->
            <!--    Theme-->
            <!--    <svg-->
            <!--        width="12px"-->
            <!--        height="12px"-->
            <!--        class="inline-block h-2 w-2 fill-current opacity-60"-->
            <!--        xmlns="http://www.w3.org/2000/svg"-->
            <!--        viewBox="0 0 2048 2048">-->
            <!--      <path d="M1799 349l242 241-1017 1017L7 590l242-241 775 775 775-775z"></path>-->
            <!--    </svg>-->
            <!--  </div>-->
            <!--  <ul tabindex="0" class="dropdown-content bg-base-300 rounded-box z-[1] w-52 p-2 shadow-2xl">-->
            <!--    <li data-set-theme="light">-->
            <!--      <input-->
            <!--          type="radio"-->
            <!--          name="theme-dropdown"-->
            <!--          class="theme-controller btn btn-sm btn-block btn-ghost justify-start"-->
            <!--          aria-label="Light"-->
            <!--          value="light"-->
            <!--      />-->
            <!--    </li>-->
            <!--    <li data-set-theme="dark">-->
            <!--      <input-->
            <!--          type="radio"-->
            <!--          name="theme-dropdown"-->
            <!--          class="theme-controller btn btn-sm btn-block btn-ghost justify-start"-->
            <!--          aria-label="Dark"-->
            <!--          value="dark"-->
            <!--      />-->
            <!--    </li>-->
            <!--    <li data-set-theme="cupcake">-->
            <!--      <input-->
            <!--          type="radio"-->
            <!--          name="theme-dropdown"-->
            <!--          class="theme-controller btn btn-sm btn-block btn-ghost justify-start"-->
            <!--          aria-label="Cupcake"-->
            <!--          value="cupcake"-->
            <!--      />-->
            <!--    </li>-->
            <!--    <li data-set-theme="cyberpunk">-->
            <!--      <input-->
            <!--          type="radio"-->
            <!--          name="theme-dropdown"-->
            <!--          class="theme-controller btn btn-sm btn-block btn-ghost justify-start"-->
            <!--          aria-label="Cyberpunk"-->
            <!--          value="cyberpunk"-->
            <!--      />-->
            <!--    </li>-->
            <!--    <li data-set-theme="valentine">-->
            <!--      <input-->
            <!--          type="radio"-->
            <!--          name="theme-dropdown"-->
            <!--          class="theme-controller btn btn-sm btn-block btn-ghost justify-start"-->
            <!--          aria-label="Valentine"-->
            <!--          value="valentine"-->
            <!--      />-->
            <!--    </li>-->
            <!--    <li data-set-theme="aqua">-->
            <!--      <input-->
            <!--          type="radio"-->
            <!--          name="theme-dropdown"-->
            <!--          class="theme-controller btn btn-sm btn-block btn-ghost justify-start"-->
            <!--          aria-label="Aqua"-->
            <!--          value="aqua"-->
            <!--      />-->
            <!--    </li>-->
            <!--    <li data-set-theme="lemonade">-->
            <!--      <input-->
            <!--          type="radio"-->
            <!--          name="theme-dropdown"-->
            <!--          class="theme-controller btn btn-sm btn-block btn-ghost justify-start"-->
            <!--          aria-label="Lemonade"-->
            <!--          value="lemonade"-->
            <!--      />-->
            <!--    </li>-->
            <!--  </ul>-->
            <!--</div>-->
            <slot />
          </main>
        </div>
        <Footer />
      </div>
      {includeSidebar && <SideBar sideBarActiveItemID={sideBarActiveItemID} />}
    </div>
  </body>
</html>
